DEBUG=False
SECRET_KEY=change-this-to-a-long-random-string
DATABASE_URL=postgres://school:school_pass@db:5432/school_db
POSTGRES_DB=school_db
POSTGRES_USER=school
POSTGRES_PASSWORD=school_pass
DJANGO_ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com
